<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Leave Type</title>
    <link rel="stylesheet" href="/static/css/user-create.css">
</head>
<body>
<h2>Create Leave Type Form</h2>
<form th:action="@{/Admin/leavetypes/save}" th:object="${leavetype}" method="post">
    <input type="hidden" th:field="*{id}">
    <fieldset>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    </fieldset>
    <fieldset>
        <label for="maxdays">Max leave days:</label>
        <input type="text" id="maxdays" th:field="*{maxdays}">
    </fieldset>
    <fieldset>
        <input type="submit" value="Save" class="btn btn-primary"/>
        &nbsp; &nbsp;
        <input type="reset" value="Reset" class="btn btn-secondary"/>
    </fieldset>
</form>
</body>
</html>